CompileFlags:
  CompilationDatabase: build-clangcl
  Remove:
    - -forward-unknown-to-host-compiler
    - -ccbin=*
    - -Xcompiler=*
    - --generate-code=*
    - -rdc=true
  Add:
    - --cuda-gpu-arch=sm_120a
    - --cuda-path=C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v13.3
